@media only screen and (max-width: 768px) {
} 

@media only screen and (max-width: 992px) {
    /* HEADER */
    .center {
        display: none; 
    }

    .input-text {
        display: none;
    }

    .end .search-icon2 {
        display: flex;
    }

    /* MAIN */
    
    main {
        flex-direction: column;
        
    }

   
}
